* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.dark-bg {
    color: #27667B;
    background-color: #001F3F;
}

.light-bg {
    color: #27667B;
    background-color: #CDE8E5;
}

.light {
    color: #6A9AB0;   
}

.dark {
    color: #27667B;
}

.extra-light {
    color: #CDE8E5;
}

.extra-dark {
    color: #001F3F;
}

section {
    padding: 0 min(100px, 10%);
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
}

.row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    width: 100%;
}

.main-title {
    font-size: 5rem;
}

.section-title, h2 {
    font-size: 3rem;
}

.work-name, h3 {
    font-size: 2rem;
}

.contact-me a, p {
    font-size: 1.5rem;  
}

.content > h2.author{
    margin-bottom: 0;
}

.nobr {
    white-space: nowrap;
}

.row .content {
    place-content: center;
}

.content > *{
    margin-bottom: 20px;
    padding-left: 40px;
}


.row .image {
    place-content: center;
}


.row .image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.contact-me{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.contact-me > a{
    text-decoration: none;
    background-color: #CDE8E5;
    color: #001F3F;
    border-radius: 8px;
    padding: 0px 10px;
}



/* works section */
.works{
    padding-top: min(40px, 8%);
    padding-bottom: min(40px, 8%);
}

.works > * {
    margin-bottom: 20px;
}
.works > h2 {
    text-align: center;
    margin-bottom: 20px;    
}

.works-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}

.works-row .image img{
    height: auto;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.work-info > *{
    margin-bottom: 10px;
}


@media (max-width: 992px){

    .main-title {
        font-size: 3.5rem;
    }
    
    .section-title, h2 {
        font-size: 2.6rem;
    }
    
    .work-name, h3 {
        font-size: 2rem;
    }
    
    .contact-me a, p {
        font-size: 1rem;  
    }

    .row > .content > *{
        margin-bottom: 10px;
        padding-left: 30px;
    }
}


@media (max-width: 768px) {
    .row {
        display: grid;
        grid-template-columns: 1fr;
    }

    .row .image {
        display: flex;
        justify-content: start;
    }
    .row .image img {
        width: 80%;
    }
    .row > .content > *{
        padding-left: 0;
    }

    .works-row {
        grid-template-columns: 1fr;
        row-gap: 10px;
    }
}

@media (max-width: 576px) {
    .main-title {
        font-size: 3rem;
    }
    
    .section-title, h2 {
        font-size: 2rem;
    }
    
    .work-name, h3 {
        font-size: 1.5rem;
    }
    
    .contact-me a, p {
        font-size: 1rem;  
    }
}