* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.dark-bg {
    color: #27667B;
    background-color: #001F3F;
}

.light-bg {
    color: #27667B;
    background-color: #CDE8E5;
}

.light {
    color: #6A9AB0;   
}

.dark {
    color: #27667B;
}

.extra-light {
    color: #CDE8E5;
}

.extra-dark {
    color: #001F3F;
}



.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 min(100px, 10%);

}

.row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    width: 100%;
}

.main-title {
    font-size: 5rem;
}

.nobr {
    white-space: nowrap;
}

p {
    font-size: 2rem;
}

.row .content {
    place-content: center;
}

.row > .content > *{
    margin-bottom: 20px;
    padding-left: 40px;
}

h2 {
    font-size: 3rem;
}

.row .image {
    place-content: center;
}

.row .image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 992px){
    .main-title{
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.6rem;
    }

    p {
        font-size: 1.6rem;
    }

    .row > .content > *{
        margin-bottom: 10px;
        padding-left: 30px;
    }
}


@media (max-width: 768px) {
    .row {
        display: grid;
        grid-template-columns: 1fr;
    }

    .row .image {
        display: flex;
        justify-content: center;
    }
    .row .image img {
        width: 80%;
    }
    .row > .content > *{
        /* margin-bottom: 10px; */
        padding-left: 0;
    }
}

@media (max-width: 576px) {

    .main-title{
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}